# Discord bot token from discord developer portal
DISCORD_BOT_TOKEN=""

# Prefix to use for the
PREFIX="!stargate"

# Stargate Auth token generated for Stargate API
# NOTE- This needs to be generated using the Cassandra db username and password.
# Ref: (https://stargate.io/docs/stargate/1.0/developers-guide/auth.html)
STARGATE_AUTH_TOKEN=""

# The following can be removed, after the AUTH token for Stargate has been generated.
# Cassandra username for generating Auth Token
CASSANDRA_USER=""
# Cassandra Password for generating Auth Token
CASSANDRA_PASS=""

# deployed version
VERSION=0.0.0
